{% from "tabs/macro.njk" import govukTabs %}
{% from "table/macro.njk" import govukTable %}
{% from "button/macro.njk" import govukButton %}

<div class='chart-container hidden'>
    <script data-chart='settings' type="json">{{settings|dump|safe}}</script>
    {% set chartHtml %}
        <h2 class="govuk-heading-s">Chart</h2>
        <canvas class='chart' tabindex="0" data-chart='canvas' id="{{ id }}"></canvas>
        <div style="margin-top: 45px">
        <form action="/reporting/course-completions/chart-csv" method="post">
            <input type="hidden" name="_csrf" value="{{ _csrf }}">
            {{ govukButton({
                text: "Download chart data (.csv)",
                attributes: {
                    "aria-label": "Download completed learning chart data as a CSV file"
                },
                classes: "govuk-body govuk-!-margin-bottom-0",
                preventDoubleClick: true,
                type: submit
            }) }}
        </form>
        </div>
    {% endset -%}
    {% set tableHtml %}
        <h2 class="govuk-heading-s">Table</h2>
        <div class='scroll-panel'>
            {{ govukTable({
                firstCellIsHeader: true,
                caption: table.caption,
                head: table.headings,
                rows: table.rows
            }) }}
        </div>
    {% endset -%}
    {{ govukTabs({
        items: [
            {
                label: "Chart",
                id: "chart",
                panel: {
                    html: chartHtml
                }
            },
            {
                label: "Table",
                id: "table",
                    panel: {
                    html: tableHtml
                }
            }
        ]
    }) }}
</div>
<noscript>
    {{ tableHtml | safe }}
</noscript>
