{% from "tabs/macro.njk" import govukTabs %}
{% from "table/macro.njk" import govukTable %}

<div class='chart-container'>
    <script data-chart='settings' type="json">{{settings|dump|safe}}</script>
    {% set chartHtml %}
        <h2 class="govuk-heading-s">Chart</h2>
        <canvas class='chart' tabindex="0" data-chart='canvas' id="{{ id }}"></canvas>
    {% endset -%}
    {% set tableHtml %}
        <h2 class="govuk-heading-s">Table</h2>
        {{ govukTable({
            firstCellIsHeader: true,
            caption: table.caption,
            captionClasses: "govuk-table__caption--s",
            head: table.headings,
            rows: table.rows
        }) }}
    {% endset -%}
    {{ govukTabs({
        items: [
            {
                label: "Chart",
                id: "chart",
                panel: {
                    html: chartHtml
                }
            },
            {
                label: "Table",
                id: "table",
                    panel: {
                    html: tableHtml
                }
            }
        ]
    }) }}
</div>
