{% from "error-summary/macro.njk" import govukErrorSummary %}

<div class="govuk-row">
    <div class="govuk-column-width-full">
        {% if errors %}
            {% set errorSummary = [] %}

            {% for field, message in errors %}
                {% if (message.length > 1) %}
                    {% set error = errorSummary.push({
                        "text": message
                    })
                    %}
                {% else %}
                    {% set errorText = message[0] | jsonpath(i18n) %}
                    {% if includeHref == true %}
                        {% set error = errorSummary.push({
                            "text": errorText,
                            "href": "#" + field
                        }) %}
                    {% else %}
                        {% set error = errorSummary.push({
                            "text": errorText
                        }) %}
                   {% endif %}
                {% endif %}
            {% endfor %}

            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorSummary,
                classes: "custom-error-message"
            }) }}
        {% endif %}
    </div>
</div>
