{% from "button/macro.njk" import govukButton %}

<div class="menu-container">
    <h2 class="menu-header">{{ boxTitle }}</h2>
    <ul class="action-links">
        {% for action in actions %}
            <li class="action-link">
                <a 
                    class="govuk-link" 
                    href="{{ action.link }}"
                    {% if action.openInNewTab %}
                        target="_blank" 
                        rel="noreferrer noopener"
                    {% endif %}
                    aria-label="{{ action.ariaLabel }}">
                    {{ action.text }} {{" (opens in new tab)" if action.openInNewTab else ""}}</a>
            </li>
        {% endfor %}
    </ul>
    {% if (delete === true} %}
        {{ govukButton({
            text: "Delete",
            "classes": "govuk-button--delete"
        }) }}
    {% endif %}
</div>
