*.log
.DS_Store
.env
.idea
.sessions
/dist/
node_modules/
pyhome/
views/assets/styles/main.css
views/assets/styles/main.css.map
yarn.lock
files
data.json
modules.json
.nyc_output
coverage
.vscode/*
*.iml
