*.log
.DS_Store
.env
.idea
.sessions
/dist/
node_modules/
pyhome/
*.css
*.css.map
*.js.map
/views/assets/js/main-bundle.min.js
yarn.lock
files
data.json
modules.json
.nyc_output
coverage
.vscode/*
*.iml
