{% from "button/macro.njk" import govukButton %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}{{ "Confirm course deletion" }} - {{ i18n.proposition_name }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + "/overview" %}


{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-m govuk-!-font-size-36">Confirm deletion of course '{{ course.title }}'</h1>

            <p class="govuk-body">Are you sure you want to delete course '{{ course.title }}'?</p>
            <p class="govuk-body">By deleting this course, it will not be discoverable in the main course catalogue and will not appear in search results for all relevant users.</p>
            <p class="govuk-body">Learners will not be able to discover or book this course.</p>
            <p class="govuk-body">Deleting this course is irreversible.</p>

            <form action="/content-management/courses/delete/{{course.id}}" method="post">
                <input type="hidden" name="_csrf" value="{{ _csrf }}" />
                <div class="button-container">
                    {{ govukButton({
                        text: "Delete course",
                        "classes": "govuk-button--delete"
                    }) }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}
