.govuk-width-container {
    max-width: 100%;
    margin: 0;

    @media(min-width: 768px){
        margin: auto;
    }

    #phase-banner-container{
        background-color: $phase-banner-background;
        padding: 0 9px;

        .govuk-phase-banner{
            max-width: 960px;
            margin: auto;
            border-bottom: 0;

            p{
                color: $phase-banner-text-color;
                a{
                    color: $phase-banner-link-color;
                }
            }
        }
    }

    .nav-wrapper{
        background-color: $nav-background-color;

        .nav-container{
            border-bottom: 0;
            nav.nav{
                max-width: 960px;
                margin: auto;
            }
        }
    }

    .app-main-class{
        max-width: 960px;
        margin: auto;

        padding: 40px 15px;

        @media(min-width: 768px){
            padding-left: 0;
            padding-right: 0;
        }
    }

    .back-link-container{
        max-width: 960px;
        margin: 15px auto;
        padding: 0 9px;

        @media(min-width: 768px){
            padding: 0;
        }
    }
}

.govuk-header__logotype-crown{
    top: 0 !important;
}