@mixin highlight {
  &:before {
    content: "";
    width: 5px;
    left: -15px;
    position: absolute;
    right: auto;
    bottom: 0;
    top: 0;
    color: $nav-active-link-underline-color;
    background: $nav-active-link-underline-color;

    @media (min-width: 640px) {
      left: -30px;
    }

    @include govuk-media-query($from: desktop) {
      height: 5px;
      left: 0;
      right: 0;
      bottom: 0;
      top: auto;
      width: auto;
    }
  }
}

.nav-container {
  max-width: 960px;
  margin: 0 15px;

  @media (min-width: 640px) {
  	margin: 0 30px;
  }

  @media (min-width: 1020px) {
    margin: auto;
  }
}

.nav {
  &.hidden {
    display: none;
  }
  @include govuk-media-query($from: desktop) {
    display: unset;
    &.hidden {
      display: unset;
    }
  }
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;

  @include govuk-media-query($from: desktop) {
    flex-direction: row;
  }
}

.nav-list-item {
  margin-bottom: 10px;
  position: relative;
  margin-right: 15px;

  &:last-child {
    margin-bottom: 20px;
    @include govuk-media-query($from: desktop) {
      margin-bottom: 0;
    }
  }

  @include govuk-media-query($from: desktop) {
    margin-bottom: 0;
    padding: 20px 0 20px 0;
  }

  &.active {
    @include highlight;
    .nav-item {
      color: $nav-active-link-color;
    }
  }

  &:hover {
    @include highlight;
    .nav-item {
      color: $nav-active-link-color;
    }
  }

}

.nav-item {
  color: $nav-link-color;
  text-decoration: none;
  font-weight: 700;

  &:focus {
    outline: none;
    text-decoration: none;
    @include govuk-focused-text;
  }
}

.nav-mobile-toggle {
  display: flex;
  justify-content: end;
}

.nav-mobile-toggle-button {
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  margin: 10px 0;
  padding: 0;
  border: 0;
  color: $nav-mobile-menu-link-color;
  background: none;
  word-break: break-all;
  cursor: pointer;

  &:focus {
    @include govuk-focused-text;
  }

  &.hidden {
    display: none;
  }

  &:after {
    content: '\25BC';
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
  }
  &.active {
    &:after {
      content: '\25B2';
    }
  }

  @include govuk-media-query($from: desktop) {
    display: none;
  }
}
