{% from "../status/macro.njk" import status with context %}
{% if params.title.html %}
    {{ params.title.html | safe }}
{% else %}
    <h2 class="govuk-heading-m">{{ params.title.text }}</h2>
{% endif %}
<ul class="list">
    {% for course in params.courses %}
        <li class="course list-details u--border--bgrey">
            <div class="course-details">
                <h3 class="govuk-heading-s"><a class='list__link' href="/content-management/courses/{{ course.id }}/overview">{{ course.title }}</a></h3>
                {% if course.modules.length > 1 and params.showModuleCounts %}
                    <p class="govuk-body">This course comprises of {{ course.modules.length }} modules</p>
                {% endif %}
                {% if course.shortDescription and params.showShortDescription %}
                    <p class="govuk-body no-margin">{{ course.shortDescription }}</p>
                {% endif %}
            </div>
            <div class="course-status">
                {% if course.status and params.showStatus %}
                    {{ status(course.status) }}
                {% endif %}
                {% if course.status !== "Archived" and identity.hasLearningEdit() and params.showEdit %}
                    <a class="govuk-link list-link list-padding" href="/content-management/courses/{{ course.id }}/preview">Edit</a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
