<div class="search-container">
	<form action="{{ params.formaction }}" method="get">
		<label class='govuk-visually-hidden' for="q">{{ params.label }}</label>
		<input class="govuk-input search" id="q" type="text" name="q" value="{{params.query}}" placeholder="Search" />
		<button class="search-button">Search</button>
	</form>
</div>
