$theme: #af292e;
$white: #fff;
$font-color: #0b0c0c;
$border: #bfc1c3;
$error-message: #b10e1e;
$outline: #ffbf47;
$hint: #6f777b;

$link: #005ea5;
$link-visited: #4c2c92;
$link-hover: #2b8cc4;
$focus: #ffbf47;
$panel: #005ea5;

$font-mobile: 16px;
$font-normal: 19px;

$tablet-small: 641px;

$moj-header-background: #0b0c0c;
$moj-header-organisation-name-text-size: 30px;
$moj-header-service-name-text-size: 24px;
$moj-header-border-bottom: 10px solid var(--govuk-brand-colour, #af292e);
$phase-banner-background: #e7e7e7;
$phase-banner-text-color: #000;
$phase-banner-link-color: null;
$nav-background-color: #f3f2f1;
$nav-link-color: #0b0c0c;
$nav-active-link-underline-color: #005ea5;
$nav-active-link-color: #005ea5;
$nav-mobile-menu-link-color: #000;
$nav-active-link-color-mobile: #005ea5;