{% from "./filterSummaryRow/macro.njk" import filterSummaryRow %}

{% macro rows(rows) %}
    <div class='filter-summary__rows'>
        {% for row in rows %}
            {{ filterSummaryRow(row["summaryText"], row["tags"], row['submitUrl'], row['changeLink'], row['changeText']) }}
        {% endfor %}
    </div>
{% endmacro %}

<section class='filter-summary__container'>
    <h3 class='govuk-visually-hidden'>Selected filters</h3>
    {% if options['submitUrl'] %}
        <form action='{{ options['submitUrl'] }}' method='post'>
            <input type="hidden" name="_csrf" value="{{ _csrf }}">
            {{ rows(options['rows']) }}
        </form>
    {% else %}
        {{ rows(options['rows']) }}
    {% endif %}
</section>
