{% from "skip-link/macro.njk" import govukSkipLink %}
{% from "header/macro.njk" import govukHeader %}
{% from "footer/macro.njk" import govukFooter %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "../../views/component/errorSummary/macro.njk" import errorSummary with context %}
{% from "./nav/macro.njk" import nav with context %}
{% from "../../views/component/mojHeader/macro.njk" import mojHeader %}

{% extends "../../node_modules/govuk-frontend/govuk/template.njk" %}

{% set htmlClasses = "app-html-class" %}
{% set htmlLang = "en" %}
{% set bodyClasses = "app-body-class" %}
{% set currentTab = 'admin' %}

{% block pageTitle %}GOV.UK{% endblock %}

{% block headIcons %}
    {{ super() }}
{% endblock %}

{% block head %}
    <meta name="theme-color" content="0b0c0c" />
  <!--[if !IE 8]><!-->
    {% if NSG_FLAG === true %}
      <link href="/styles/main-nsg.css?v=" rel="stylesheet" />
    {% else %}
      <link href="/styles/main.css?v=" rel="stylesheet" />
    {% endif %}
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  {% endblock %}
{% block bodyStart %}
  <a id="top"></a>
{% endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    href: "#main-content",
    text: "Skip to main content"
  }) }}
{% endblock %}

{% block header %}
{% set organisationLabelText = "National School of Government and Public Services" if NSG_FLAG else "GOV.UK" %}
{% set logotype = "crown" if not NSG_FLAG %}
{% set nsgUrl = NSG_URL if NSG_FLAG else "https://gov.uk" %}
{% set orgHtml %}
  <a class="moj-header__link moj-header__link--organisation-name" href="/">National School<br> of Government<br> and Public Services</a>
{% endset %}

{{ mojHeader({
    organisationLabel: {
        html: orgHtml
    },
    serviceLabel: {
        text: "Civil Service Learning",
        href: lpgUiUrl + "/"
    },
    logotype: logotype
}) }}

<div id="global-header-bar"></div>
{% endblock %}

{% set mainClasses = "app-main-class" %}

{% block beforeContent %}
  {% if banner === true %}
  <div id="phase-banner-container">
    {% block govukPhaseBanner %}
      {{ govukPhaseBanner({
                             tag: {
                               text: "Beta"
                             },
                             html: 'Your <a href=' + feedbackUrl + ' target="_blank" rel="noopener noreferrer" title="The Civil Service Learning feedback survey will open in another window">feedback</a> will help us to improve.'
                         }) }}
  </div>
    {% endblock%}
  {% endif %}
  {% block nav %}
    {{ nav(lpgUiUrl, identity) }}
  {% endblock %}
  {% if backButton %}
    {% block govukBackLink %}
    <div class="back-link-container">
      {{ govukBackLink({
        text: "Back",
        href: backButton
      }) }}
    </div>
    {% endblock%}
  {% endif %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: lpgUiUrl + "/cookies",
          text: "Cookies"
        },
        {
          href: lpgUiUrl + "/privacy",
          text: "Privacy"
        },
        {
          href: lpgUiUrl + "/contact-us",
          text: "Contact us"
        },
        {
          href: lpgUiUrl + "/accessibility-statement",
          text: "Accessibility statement"
        }
      ],
      html: "<div><ul><li>Built by <a class=\"govuk-footer__link\" href=\"#\">Civil Service Learning</a></li></ul></div>"
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/govuk-frontend/all.js"></script>
  <script src="/js/main-bundle.min.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

{% endblock %}
