{% from "table/macro.njk" import govukTable %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "../../../../component/statusWithLabel/macro.njk" import statusWithLabel with context %}
{% from "../../../../component/menu/macro.njk" import menu %}
{% from "../../../../component/cancellationReason/macro.njk" import cancellationReason with context %}

{% extends "../../../../component/Page.njk" %}

{% set title = pageModel.getTitle() %}

{% block pageTitle %}
    {{title}} - {{ i18n['event_overview'] }} - {{ i18n.proposition_name }}
{% endblock %}

{% set banner = true %}
{% set backButton = pageModel.getCourseOverviewUrl() %}

{% block content %}

    {% set eventCancelledMessage = sessionFlash.eventCancelledMessage %}
    {% set emailAddressFoundMessage = sessionFlash.emailAddressFoundMessage %}
    {% set errors = sessionFlash.errors %}
    {{ errorSummary(errors.fields, true) }}

    {% if emailAddressFoundMessage %}
        <div class="panel panel-blue">
            <div class="govuk-panel__body custom-panel">
                <p class="govuk-body"><strong>{{ sessionFlash.emailAddress }}</strong> {{i18n[emailAddressFoundMessage]}}</p>
            </div>
        </div>
    {% endif %}

    {% if eventCancelledMessage %}
        <div class="panel panel-blue">
            <div class="govuk-panel__body custom-panel">
                <p class="govuk-body">This event on <strong>{{pageModel.dates[0]}}</strong> for <strong>{{pageModel.courseTitle}}</strong> has been cancelled</p>
            </div>
        </div>
    {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l no-margin">{{title}}</h1>
    </div>
  </div>
     <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">This event is for the <strong>{{pageModel.moduleTitle}}</strong> module on the <a href="{{ pageModel.getCourseOverviewUrl() }}" class="govuk-link">{{pageModel.courseTitle}}</a> course.
          <div class="event-overview">
            <h3 class="govuk-heading-m">Event overview</h3>

                {% set dateList = [] %}
                  {% for date in pageModel.dates %}
                    {% set eventDate = dateList.push('<p class="govuk-body no-margin">' + date + '</p>') %}
                  {% endfor %}
                {% set list = dateList|join %}

              {{ govukTable({
                firstCellIsHeader: true,
                classes: "course-table event-table",
                rows: [
                  [
                    {
                      text: "Number of spaces"
                    },
                    {
                      text: pageModel.venue.availability + " of " + pageModel.venue.capacity + " available",
                      format: "numeric"
                    }
                  ],
                  [
                      {
                        text: "Minimum capacity"
                      },
                      {
                        text: pageModel.venue.minCapacity,
                        format: "numeric"
                      }
                  ],
                  [
                      {
                        text: "Event dates",
                        classes: "vertical"
                      },
                      {
                        html: list,
                        format: "numeric"
                      }
                  ],
                  [
                    {
                      text: "Town/city"
                    },
                    {
                      text: pageModel.venue.location,
                      format: "numeric"
                    }
                  ],
                  [
                    {
                      text: "Venue address"
                    },
                    {
                      text: pageModel.venue.address,
                      format: "numeric"
                    }
                  ]
                ]
              }) }}
            </div>

            {% if pageModel.status == "Active" and pageModel.courseStatus == "Published" and identity.hasLearningEdit() %}
                <div class="add-invitee">
                    <h3 class="govuk-heading-m">Invite learners</h3>
                    <form action="{{ pageModel.getInviteUrl() }}" method="post" class="attendee-form">
                        <input type="hidden" name="_csrf" value="{{ _csrf }}">
                        <div class="input-with-button invitee">
                            {{ govukInput({
                                label: {
                                    text: "Email address of invitee"
                                },
                                id: "learnerEmail",
                                name: "learnerEmail",
                                value: sessionFlash.learnerEmail,
                                errorMessage: {
                                    text: i18n[errors.fields.learnerEmail]
                                } if errors.fields else null
                            }) }}
                            {{ govukButton({
                                text: "Invite",
                                classes: "button-blue" if errors.fields else null
                            }) }}
                        </div>
                    </form>
                </div>
            {% endif %}
            <div class="course-attendees">
              <h3 class="govuk-heading-m">Event attendees</h3>
                {% if pageModel.bookings.length > 0 %}
                    {% set viewHeader %}
                        <span class="govuk-visually-hidden">View</span>
                    {% endset %}

                    {% set head = [{text: "Email address"}, {text: "Payment"},
                    {text: "Booking Reference"}, {html: viewHeader}] %}

                    {% set rows = [[]] %}
                    {% for booking in pageModel.bookings %}
                        {% if booking.status === "Requested" %}
                            {% set payment = i18n.attendee.status.Requested %}
                        {% elif booking.status === "Confirmed" %}
                            {% set payment = i18n.attendee.status.Confirmed %}
                        {% endif %}

                        {% set bookingUrl %}
                            <a class="govuk-link" href="{{ pageModel.getBookingUrl(booking.id) }}">View <span class="govuk-visually-hidden">attendee {{booking.learnerEmail}}</span></a>
                        {% endset %}
                        {% set rows = (rows.push([{text: booking.learnerEmail}, {text: payment},
                        {text: booking.reference}, {html: bookingUrl}]), rows) %}
                    {% endfor %}

                    {{ govukTable(
                        {
                            head: head,
                            rows: rows
                        }
                    ) }}
                {% else %}
                    <p class="govuk-body">This event doesn't have any attendees yet.</p>
                {% endif %}
            </div>
            {% if pageModel.invitedEmails.length > 0 %}
                <div class="course-invitees">
                    <h3 class="govuk-heading-m">Event invitees</h3>
                    <h4 class="govuk-heading-s">Email address</h4>
                    <ul class="attendees list">
                        {% for email in pageModel.invitedEmails %}
                            <li class="list-details"><p class="govuk-body">{{ email }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-third">
          {% if pageModel.courseStatus !== "Archived" %}
            <div class="right-menu">
              {% block statusWithLabel %}
                {{ statusWithLabel(pageModel.status) }}
              {% endblock %}
              {% if pageModel.status == "Cancelled" %}
                {% block cancellationReason %}
                    {{ cancellationReason("This event has been cancelled because " + pageModel.cancellationReason) }}
                {% endblock %}
              {% else %}
                {% block menu %}
                {% set actions = [] %}
                {% if identity.hasLearningCreate() %}
                    {% set action = actions.push({
                        link: pageModel.getEditDateTimeUrl(),
                        text: 'Edit time and date'
                    }) %}
                    {% set action = actions.push({
                        link: pageModel.getEditLocationUrl(),
                        text: 'Edit location and capacity'
                    }) %}
                    {% endif %}
                    {% if identity.hasLearningDelete() %}
                        {% set action = actions.push({
                            link: pageModel.getCancelUrl(),
                            text: 'Cancel this event'
                        }) %}
                {% endif %}
                {{ menu("Actions", actions) }}
                {% endblock %}
              {% endif %}
            </div>
          {% endif %}
        </div>
     </div>
  </div>
{% endblock %}
