{% from "table/macro.njk" import govukTable %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "../../../../component/statusWithLabel/macro.njk" import statusWithLabel with context %}
{% from "../../../../component/menu/macro.njk" import menu %}
{% from "../../../../component/cancellationReason/macro.njk" import cancellationReason with context %}

{% extends "../../../../component/Page.njk" %}

{% block pageTitle %}
    {{pageModel.venue.location}}, {{event.dates[0]}} - {{ i18n['event_overview'] }} - {{ i18n.proposition_name }}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + pageModel.courseId + "/overview" %}

{% block content %}

    {% set emailAddressFoundMessage = sessionFlash.emailAddressFoundMessage %}
    {% set eventCancelledMessage = sessionFlash.eventCancelledMessage %}
    {% set emailAddress = sessionFlash.emailAddress %}
    {% set errors = sessionFlash.errors %}

    {% if emailAddressFoundMessage %}
        {% set panelError = "error" %}
        {% if emailAddressFoundMessage == "email_address_found_message" %}
            {% set emailAddressFoundMessage = i18n[emailAddressFoundMessage] %}
            {% set panelError = "panel-blue" %}
        {% endif %}
        <div class="panel {{panelError}}">
            <div class="govuk-panel__body custom-panel">
                {% if emailAddressFoundMessage == "validation_email_address_invalid" %}
                    <p class="govuk-body">{{i18n[emailAddressFoundMessage]}}</p>
                {% else %}
                    <p class="govuk-body"><strong>{{ emailAddress }}</strong> {{emailAddressFoundMessage}}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if eventCancelledMessage %}
        <div class="panel panel-blue">
            <div class="govuk-panel__body custom-panel">
                <p class="govuk-body">This event on <strong>{{pageModel.dates[0]}}</strong> for <strong>{{pageModel.courseTitle}}</strong> has been cancelled</p>
            </div>
        </div>
    {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l no-margin">{{pageModel.venue}}, {{pageModel.dates[0]}}</h1>
    </div>
  </div>
     <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">This event is for the <strong>{{pageModel.moduleTitle}}</strong> module on the <a href="/content-management/courses/{{pageModel.courseId}}/overview" class="govuk-link">{{pageModel.courseTitle}}</a> pageModel.courseIp>
          <div class="event-overview">
            <h3 class="govuk-heading-m">Event overview</h3>

                {% set dateList = [] %}
                  {% for date in pageModel.dates %}
                    {% set eventDate = dateList.push('<p class="govuk-body no-margin">' + date + '</p>') %}
                  {% endfor %}
                {% set list = dateList|join %}

              {{ govukTable({
                firstCellIsHeader: true,
                classes: "pageModel.courseIable event-table",
                rows: [
                  [
                    {
                      text: "Number of spaces"
                    },
                    {
                      text: pageModel.venue.availability + " of " + pageModel.venue.capacity + " available",
                      format: "numeric"
                    }
                  ],
                  [
                      {
                        text: "Minimum capacity"
                      },
                      {
                        text: pageModel.venue.minCapacity,
                        format: "numeric"
                      }
                  ],
                  [
                      {
                        text: "Event dates",
                        classes: "vertical"
                      },
                      {
                        html: list,
                        format: "numeric"
                      }
                  ],
                  [
                    {
                      text: "Town/city"
                    },
                    {
                      text: pageModel.venue.location,
                      format: "numeric"
                    }
                  ],
                  [
                    {
                      text: "Venue address"
                    },
                    {
                      text: pageModel.venue.address,
                      format: "numeric"
                    }
                  ]
                ]
              }) }}
            </div>

            {% if pageModel.status == "Active" and pageModel.courseStatus == "Published" and identity.hasLearningEdit() %}
                <div class="add-invitee">
                    <h3 class="govuk-heading-m">Invite learners</h3>
                    <form action="/content-management/courses/{{pageModel.courseId}}/modules/{{pageModel.moduleId}}/events/{{pageModel.id}}/invite" method="post" class="attendee-form">
                        <input type="hidden" name="_csrf" value="{{ _csrf }}">
                        <label for="learnerEmail" class="govuk-body no-margin"><strong>Email address of invitee</strong></label>
                        <div class="input-with-button invitee">
                            {% if errors.fields %}
                                {{ govukInput({
                                    id: "learnerEmail",
                                    name: "learnerEmail",
                                    errorMessage: {
                                        text: i18n[errors.fields.emailAddress]
                                    }
                                }) }}
                                {{ govukButton({
                                    text: "Invite",
                                    classes: "button-blue"
                                }) }}
                            {% else %}
                                {{ govukInput({
                                    id: "learnerEmail",
                                    name: "learnerEmail"
                                }) }}
                                {{ govukButton({
                                    text: "Invite"
                                }) }}
                            {% endif %}
                        </div>
                    </form>
                </div>
            {% endif %}
            <div class="pageModel.courseIttendees">
              <h3 class="govuk-heading-m">Event attendees</h3>
              {% if pageModel.bookings.length > 0 %}
                <ul class="attendees headers">
                  <li class="list-headers"><p class="govuk-body header title"><strong>Email Address</strong></p><p class="govuk-body header payment"><strong>Payment</strong></p><p class="govuk-body header title"><strong>Booking Reference</strong></p><span class="button-header"></span></li>
                </ul>
                <ul class="attendees list">
                    {% for booking in pageModel.bookings %}
                        {% if booking.status === "Requested" %}
                            {% set payment = i18n.attendee.status.Requested %}
                        {% elif booking.status === "Confirmed" %}
                            {% set payment = i18n.attendee.status.Confirmed %}
                        {% endif %}
                        <li class="list-details"><p class="govuk-body title">{{ booking.learnerEmail}}</p><p class="govuk-body payment">{{ payment }}</p><p class="govuk-body payment">{{ booking.bookingReference }}</p><p class="buttons govuk-body"><a class="govuk-link" href="/content-management/courses/{{pageModel.courseId}}/modules/{{pageModel.moduleId}}/events/{{pageModel.eventId}}/attendee/{{booking.id}}">View</a></p></li>
                    {% endfor %}
                </ul>
              {% else %}
                <p class="govuk-body">This event doesn't have any attendees yet.</p>
              {% endif %}

            </div>
            {% if pageModel.invitedEmails.length > 0 %}
                <div class="pageModel.courseInvitees">
                    <h3 class="govuk-heading-m">Event invitees</h3>
                    <ul class="attendees headers">
                        <li class="list-headers"><p class="govuk-body header title"><strong>Email address</strong></p></li>
                    </ul>
                    <ul class="attendees list">
                        {% for invitee in pageModel.invitedEmails %}
                        <li class="list-details"><p class="govuk-body">{{ invitee.learnerEmail}}</p></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-third">
          {% if pageModel.courseItatus !== "Archived" %}
            <div class="right-menu">
              {% block statusWithLabel %}
                {{ statusWithLabel(pageModel.status) }}
              {% endblock %}
              {% if pageModel.status == "Cancelled" %}
                {% block cancellationReason %}
                    {{ cancellationReason("This event has been cancelled because " + pageModel.cancellationReason) }}
                {% endblock %}
              {% else %}
                {% block menu %}
                {% set actions = [] %}
                {% if identity.hasLearningCreate() %}
                    {% set action = actions.push({
                        link: '/content-management/courses/' + pageModel.courseId + '/modules/' + pageModel.moduleId + '/events/' + pageModel.eventId + '/dateRanges/',
                        text: 'Edit time and date'
                    }) %}
                    {% set action = actions.push({
                        link: '/content-management/courses/' + pageModel.courseId + '/modules/' + pageModel.moduleId + '/events/' + pageModel.eventId + '/location/',
                        text: 'Edit location and capacity'
                    }) %}
                    {% endif %}
                    {% if identity.hasLearningDelete() %}
                        {% set action = actions.push({
                            link: '/content-management/courses/' + pageModel.courseId + '/modules/' + pageModel.moduleId + '/events/' + pageModel.eventId + '/cancel',
                            text: 'Cancel this event'
                        }) %}
                {% endif %}
                {{ menu("Actions", actions) }}
                {% endblock %}
              {% endif %}
            </div>
          {% endif %}
        </div>
     </div>
  </div>
{% endblock %}
