{% from "../../component/menu/macro.njk" import menu %}
{% from "../../component/taxonomy/macro.njk" import taxonomy %}
{% from "../../component/backToTop/macro.njk" import backToTop %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}{{ i18n.learningTags.title.manage }} - {{ i18n.proposition_name }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management" %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-l">{{ i18n.learningTags.title.manage }}</h1>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{% if sessionFlash.coursesAssignedMessage %}
			<div class="panel panel-blue">
				<div class="govuk-panel__body custom-panel panel-blue">
					<p class="govuk-body">
						{% if sessionFlash.coursesAssignedMessage.courseIds === 1 %}
							1 course has
						{% else %}
							{{ sessionFlash.coursesAssignedMessage.courseIds }} courses have
						{% endif %}
						been assigned to
						{% if sessionFlash.coursesAssignedMessage.learningTagIds === 1 %}
							1 tag
						{% else %}
							{{ sessionFlash.coursesAssignedMessage.learningTagIds }} tags
						{% endif %}
					</p>
				</div>
			</div>
		{% endif %}
		<h2 class="govuk-heading-m">{{ i18n.learningTags.headers.learningTagName }}</h2>
		{% if learningTags.length > 0 %}
			{{ taxonomy({"items": learningTags, "subListLabel": "View sub tags"}) }}
		{% endif %}
		<a class="govuk-body govuk-link cancel" href="/content-management">&lt; Back to dashboard</a>
	</div>
	<div class="govuk-grid-column-one-third">
		<div class="right-menu">
			{% block menu %}
				{% set actions = [
					{
						link: '/content-management/learning-tags',
						text: 'Add a new tag'
					}
				] %}
				{% if identity.isLearningTagCourseManager() %}
					{% set actions = (actions.push({
						link: '/content-management/learning-tags/assign-courses/select-learning-tags',
						text: 'Assign course to tag'
					}), actions) %}
				{% endif %}
				{{ menu("Actions", actions) }}
			{% endblock %}
		</div>
	</div>
</div>
<div class='govuk-grid-row'>
	<div class='govuk-grid-column-full'>
		{{ backToTop() }}
	</div>
</div>
{% endblock %}

{% block bodyEnd %}
<script src='/js/main-bundle.min.js'></script>
{% endblock %}