{% set searchHeaderHtml %}
    <div class="header-search">
        <h2 class="govuk-heading-m">Courses assigned to this tag</h2>
    </div>
{% endset %}
{% if pageModel.results.length > 0 %}
    {{ courseManager({
        "submitAction": "/content-management/learning-tags/" + learningTag.id  + "/courses/remove",
        "legend": {
            "html": "<h2 class=\"govuk-heading-m\">Courses assigned to this tag</h2>"
        },
        "courses": pageModel.results,
        allIds: pageModel.allIds
    }) }}
    <p class="govuk-body">Showing {{ pageModel.pagePagination.start }} - {{ pageModel.pagePagination.end}} of {{ pageModel.pagePagination.total }}</p>
    {{ pagination(pageModel.pagePagination.pagination) }}
{% else %}
    {{ searchHeaderHtml | safe }}
    <p class='govuk-body'>There are currently no courses assigned to this tag</p>
{% endif %}
