{% from "../../component/search/macro.njk" import search with context %}
{% from "../../component/pagination/macro.njk" import pagination with context %}
{% from "../../component/courseManager/macro.njk" import courseManager with context %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}
    {{ i18n.learningTags.title.viewCourses }} - {{ i18n.proposition_name }}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/learning-tags/" + learningTag.id + "/overview" %}
{% set removeCourseResults = sessionFlash.removeCourseResults if sessionFlash.removeCourseResults else removeCourseResults %}

{% block content %}
    {% set errors = pageModel.errors %}
    {{ errorSummary(errors.fields) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="page-title govuk-heading-l">{{learningTag.name}}</h1>
            {% if removeCourseResults %}
                <div class="panel panel-blue">
                    <div class="govuk-panel__body custom-panel panel-blue">
                        <p class="govuk-body">
                            {{ removeCourseResults.successfulIds.length }} courses were removed from this tag.
                        </p>
                    </div>
                </div>
            {% endif %}
            {% set searchHeaderHtml %}
                <div class="header-search">
                    <h2 class="govuk-heading-m">Courses assigned to this tag</h2>
                </div>
            {% endset %}
            {% if pageModel.results.length > 0 %}
                {{ courseManager({
                        "submitAction": "/content-management/learning-tags/" + learningTag.id  + "/courses/remove",
                        "legend": {
                            "html": "<h2 class=\"govuk-heading-m\">Courses assigned to this tag</h1>"
                        },
                        "courses": pageModel.results,
                        allIds: pageModel.allIds
                    }) }}
            {% else %}
                {{ searchHeaderHtml | safe }}
                <p class='govuk-body'>There are currently no courses assigned to this tag</p>
            {% endif %}
        </div>
    </div>
    {% if pageModel.results.length > 0 %}
        <p class="govuk-body">Showing {{ pageModel.pagePagination.start }} - {{ pageModel.pagePagination.end}} of {{ pageModel.pagePagination.total }}</p>
        {{ pagination(pageModel.pagePagination.pagination) }}
    {% endif %}
{% endblock %}

{% block bodyEnd %}
    <script src="/govuk-frontend/all.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script type="text/javascript" src="/js/main-bundle.min.js"></script>
{% endblock %}