<div class="nav-wrapper">
    <div class="nav-container">
        <div class='nav-mobile-toggle'>
            <button class="nav-mobile-toggle-button hidden" id="mobileNav">Menu</button>
        </div>
        <nav class="nav" id='navBar'>
            <ul class='nav-list'>
                <li class='nav-list-item'><a class="nav-item" href="{{ lpgUiUrl }}/">Home</a></li>
                {% if NSG_FLAG === true %}
                    <li class='nav-list-item'><a class="nav-item" href="{{ lpgUiUrl }}/your-learning">Your learning</a></li>
                {% endif %}
                <li class='nav-list-item'><a class="nav-item" href="{{ lpgUiUrl }}/course-catalogue">Course catalogue</a></li>
                <li class='nav-list-item'><a class="nav-item" href="{{ lpgUiUrl }}/learning-record">Learning record</a></li>
                <li class='nav-list-item'><a class="nav-item" href="{{ lpgUiUrl }}/profile">Profile</a></li>
                {% if identity.hasAnyAdminRole() %}
                    <li class='nav-list-item {% if currentTab === 'admin' %}active{% endif %}'><a class="nav-item" href="/content-management">Admin</a></li>
                {% endif %}
                {% if identity.isReporter() %}
                    <li class='nav-list-item {% if currentTab === 'reporting' %}active{% endif %}'><a class="nav-item" href="/reporting">Reporting</a></li>
                {% endif %}
                <li class='nav-list-item'><a class="nav-item" href="/sign-out">Sign out</a></li>
            </ul>
        </nav>
    </div>
</div>
