{% from "../status/macro.njk" import status with context %}

<div class="status-container">
  <h2 class="govuk-heading-s">Status</h2>
  {% block status %}
    {{ status(text) }}
  {% endblock %}
</div>
