{% from "radios/macro.njk" import govukRadios %}
{% from "select/macro.njk" import govukSelect %}
{% from "button/macro.njk" import govukButton %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "../../../component/chart/macro.njk" import renderChart %}
{% from "../../../component/filterSummary/macro.njk" import filterSummary %}
{% from "../../../component/datePicker/macro.njk" import datePicker with context %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "table/macro.njk" import govukTable %}

{% extends "../../../component/Page.njk" %}

{% set backButton = "/reporting/course-completions/choose-courses" %}

{% block pageTitle %}{{ i18n.reporting.course_completions.title }} - {{ i18n.proposition_name }}{% endblock %}
{% block nav %}
  {{ super() }}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: feedbackBanner.message + ' Your <a href="/reporting/course-completions/feedback" target="_blank" rel="noopener noreferrer" title="The Civil Service Learning reporting dashboard feedback survey will open in another window">feedback</a> will help us to improve.'
  }) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class='govuk-grid-column-full'>
    <span class="govuk-caption-m">Reporting</span>
    <h1 class="govuk-heading-l">{{ i18n.reporting.course_completions.title }}</h1>
  </div>
  <div class="govuk-grid-column-full">
    <section>
      <h2 class="govuk-visually-hidden">Filters</h2>
      {% set filterDatePicker %}
      {{ datePicker({
          id: 'courseCompletions',
          pageModel: pageModel,
          legend: {
              start: {
                text: "Completed after",
                classes: "govuk-fieldset__legend--s"
              },
              end: {
                text: "Completed before",
                classes: "govuk-fieldset__legend--s"
              }
          }
      }) }}
      {% endset %}
    <form method='post'>
      {{ govukRadios({
        classes: "govuk-radios--small",
        name: "timePeriod",
        fieldset: {
          legend: {
            html: "<h3>Filter by date</h3>",
            classes: "govuk-heading-m"
          }
        },
        items: [
          {
            value: "today",
            text: "Today",
            checked: pageModel.timePeriod == "today"
          },
          {
            value: "past-seven-days",
            text: "Past seven days",
            checked: pageModel.timePeriod == "past-seven-days"
          },
          {
            value: "past-month",
            text: "Past month",
            checked: pageModel.timePeriod == "past-month"
          },
          {
            value: "past-year",
            text: "Past year",
            checked: pageModel.timePeriod == "past-year"
          },
          {
            value: "custom",
            text: "Custom",
            checked: pageModel.timePeriod == "custom",
            conditional: {
              html: filterDatePicker
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Apply filters",
        preventDoubleClick: true
      }) }}
    </form>
    </section>
  </div>


  <div class="govuk-grid-column-full">
    <h2>Overview</h2>
    {{ filterSummary(pageModel.selectedFilters) }}
    {% if pageModel.chart %}
      {% set table = {
        "caption": "Number of completions",
        "headings": [
          {"text": pageModel.chart.xAxisSettings.tableHeader}, {"text": "Completions", format: "numeric"}
        ],
        "rows": pageModel.table
      } %}
      {{ renderChart("course-completions", table, pageModel.chart) }}
    {% else %}
      <p class='govuk-body'>No data available</p>
    {% endif %}
    <h2 class='govuk-heading-m'>Course breakdown</h2>
    {% if pageModel.courseBreakdown %}
      {{ govukTable({
        firstCellIsHeader: true,
        head: [{text: "Course Title"}, {text: "Completions", format: "numeric", classes: "no-wrap"}],
        rows: pageModel.courseBreakdown
      }) }}
    {% else %}
      <p class='govuk-body'>No data available</p>
    {% endif %}
    {% if identity.hasMvpExport() %}
    {% set downloadUrl = '/reporting/course-completions/download-source-data' %}
    <div class='course-completions-report'>
      <h2 class='govuk-heading-m'>Download source data</h2>
      {% if pageModel.chart %}
        <p class='govuk-body'>
          The data used to generate this graph can be requested for download (CSV).
        </p>
        <div class='course-completions-report__panel'>
          {% if pageModel.hasRequestedReport %}
            <p class='govuk-body'>
              {{ i18n.reporting.course_completions.report_download.success_message }}
            </p>
          {% else %}
            <form class='course-completions-report__form' action='{{ downloadUrl }}' method='POST'>
              {{ govukButton({
                text: "Request report (CSV)",
                preventDoubleClick: true,
                classes: "course-completions-report__button",
                attributes: {
                  "data-submiturl": downloadUrl + "/js"
                }
              }) }}
            </form>
          {% endif %}
        </div>
      {% else %}
        <p class='govuk-body'>No data available</p>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block bodyEnd %}
  <script src="/govuk-frontend/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  <script type="text/javascript" src="/js/main-bundle.min.js"></script>
{% endblock %}
