{% from "button/macro.njk" import govukButton %}

{% macro downloadSourceData(params) %}
    <div class='download-report'>
        <div class='download-report__panel'>
            {% if params.hasRequestedReport %}
                <p class='govuk-body'>
                    {{ i18n.reporting.report_download.success_message }}
                </p>
            {% else %}
                <form class='download-report__form' action='{{ params.downloadUrl }}' method='POST'>
                    <input type="hidden" name="_csrf" value="{{ _csrf }}"/>
                    {{ govukButton({
                        text: "Request report (CSV)",
                        preventDoubleClick: true,
                        classes: "download-report__button",
                        attributes: {
                            "data-submiturl": params.downloadUrl + "/js"
                        }
                    }) }}
                </form>
            {% endif %}
        </div>
    </div>
{% endmacro %}
