{% extends "../../component/Page.njk" %}

{% from "input/macro.njk" import govukInput with context%}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% from "../../component/list/macro.njk" import list %}
{% from "../../component/menu/macro.njk" import menu %}
{% from "../../component/statusWithLabel/macro.njk" import statusWithLabel with context %}
{% from "../../component/courseDetails/macro.njk" import courseDetails with context %}
{% from "../../component/courseEvents/macro.njk" import courseEvents with context %}
{% from "../../component/audiences/macro.njk" import audiences with context %}

{% block pageTitle %}{{ i18n.agencyToken.title.editAgencyToken if pageModel.tokenExists else i18n.agencyToken.title.addAgencyToken }} - {{ i18n.proposition_name }}{% endblock %}

{% set backButton = "/content-management/organisations/" + pageModel.organisationId + "/overview" %}

{% block content %}

{% set banner = true %}
{% set errors = sessionFlash.errors %}
{{ errorSummary(pageModel.errors.fields, true) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-body form-header govuk-!-font-size-24 no-margin">{{ organisationalUnit.name }}</h1>
        <h2 class="govuk-heading-m govuk-!-font-size-36">{{ i18n.agencyToken.title.editAgencyToken if pageModel.tokenExists else i18n.agencyToken.title.addAgencyToken }}</h2>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-s">List of permitted domains</h3>
            {% if pageModel.domain.length > 0 %}
                <form action='/content-management/organisations/{{ pageModel.organisationId }}/agency-token/domains' method="POST">
                    <input type="hidden" name="_csrf" value="{{ _csrf }}">
                    <ul class="list modules" id="domains">
                        {% for domain in pageModel.domain %}
                            <li class="list-details list-domain">
                                <p class="govuk-body title">{{ domain }}</p>
                                <button formaction='/content-management/organisations/{{ pageModel.organisationId }}/agency-token/domains?domainToRemove={{ domain }}' class="govuk-link linkish-button">Remove</button>
                            </li>
                        {% endfor %}
                    </ul>
                </form>
            {% else %}
                <p class="govuk-body">No domains have been added yet</p>
            {% endif %}
            <form id='add-domain-form' action='/content-management/organisations/{{ pageModel.organisationId }}/agency-token/domains' method="POST">
                <input type="hidden" name="_csrf" value="{{ _csrf }}">
                {{ govukInput ({
                    label: { text: "Add domain" },
                    classes: "govuk-input--width-10",
                    id: "domainToAdd",
                    name: "domainToAdd",
                    value: pageModel.domainToAdd if pageModel.domainToAdd else "",
                    hint: { text: i18n.agencyToken.validation.domains.hint },
                    errorMessage: { text: pageModel.errors.fields.domainToAdd | jsonpath(i18n) } if pageModel.errors.fields.domainToAdd else null
                }) }}
                {{ govukButton ({
                    text: "Add domain",
                    classes: "button-blue button-blue-organisations",
                    type: "submit"
                }) }}
            </form>

        {% set formAction = "/content-management/organisations/" + pageModel.organisationId + "/agency-token" + ("/edit" if pageModel.tokenExists else "") %}

        <form action="{{ formAction }}" method="post">
            {% for domain in pageModel.domain %}
                <input class="hidden" name="domain" value="{{ domain }}" aria-label="{{ domain }}">
            {% endfor %}
            <input type="hidden" name="_csrf" value="{{ _csrf }}">
            {{ govukInput ({
                label: { text: i18n.agencyToken.text.numberOfSpaces },
                classes: "govuk-input--width-10",
                id: "capacity",
                name: "capacity",
                type: "text",
                value: pageModel.capacity,
                pattern: "[0-9]*",
                inputmode: "numeric",
                errorMessage: { text: pageModel.errors.fields.capacity | jsonpath(i18n) } if pageModel.errors.fields.capacity else null
            }) }}

            {% if pageModel.tokenExists %}
                <p id=number-of-spaces-currently-in-use-text" class="govuk-body"><strong>Number of spaces currently in use</strong></p>
                <p id="number-of-spaces-currently-in-use-value" class="govuk-body">{{ pageModel.capacityUsed }}</p>
            {% endif %}

            <label for="token-number-input" class="govuk-label">Token number</label>
            <p id="token-number-display-text" class="govuk-body">{{ pageModel.token | default('Unspecified', true) }}</p>
            <input id="token-number-input" name='token' value="{{ pageModel.token | default('Unspecified', true) }}" type="hidden">
            <button class="govuk-link linkish-button" type="button" onclick="generateAndDisplayNewToken();">Re-generate token number</button><br/><br/>

            {{ govukButton ({
                text: "Update token" if pageModel.tokenExists else "Add token"
            }) }}

        </form>

        {% if pageModel.tokenExists %}
            <form action="/content-management/organisations/{{ pageModel.organisationId }}/agency-token/delete" method="get">
                <button id="delete-token-button" type="submit" class="govuk-button button-red">Delete token</button>
            </form>
        {% endif %}

        <a href="/content-management/organisations/{{pageModel.id}}/overview" class="govuk-link">Cancel</a>
    </div>
</div>

{% endblock %}

{% block bodyEnd %}
    <script src="/govuk-frontend/all.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script type="text/javascript" src="/js/generate-token.js"></script>
{% endblock %}
