{% from "date-input/macro.njk" import govukDateInput %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['administration_pages_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% block content %}
{% set errors = sessionFlash.errors %}

{{ errorSummary(errors.fields) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Reporting - Choose organisation</h1>
            <div class="reports-container">
                Choose organisation
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}
