{% from "button/macro.njk" import govukButton %}


<div class="change-status">
    {% if status === "Draft" %}
        <p class="govuk-body">This course has not been published. You can still add events.</p>
        <form method="post" action="/content-management/courses/{{course.id}}/status/publish">
            {% if identity.hasLearningPublish() %}
                {{ govukButton({
                    text: "Publish this course"
                }) }}
            {% endif %}
        </form>
    {% elif status === "Published" %}
        {% set buttonText = "Archive this course" %}
        {% set value = "Archived" %}
        <p class="govuk-body">This course has been published. Any further edits will be shown immediately.</p>
        <p class="govuk-body">Archiving this course will stop it being listed and prevent further interactions.</p>
        {% if identity.hasLearningArchive() %}
            <a href="/content-management/courses/{{course.id }}/archive" class="govuk-button red-button">{{buttonText}}</a>
        {% endif %}
    {% elif status === "Archived" %}
        <p class="govuk-body">This course has been archived and is no longer available.</p>
        <p class="govuk-body">It may appear in a learner's record of completed learning, but cannot be started or resumed.</p>
        <form method="post" action="/content-management/courses/{{course.id}}/status/unarchive">
            {% if identity.hasLearningUnarchive() %}
                {{ govukButton({
                    text: "Unarchive this course",
                    classes: "red-button"
                }) }}
            {% endif %}
        </form>
    {% endif %}
</div>
