{% from "date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
    id: "startDate" | appendIdPrefix(params.id),
    name: "startDate" | appendIdPrefix(params.id),
    fieldset: {
        legend: params.legend.start
    },
    hint: {
        text: "For example, " + datePlaceHolder
    },
    errorMessage: ({
        text: params.pageModel.getErrorMsg('start') | jsonpath(i18n)
    } if params.pageModel.getErrorMsg('start')) if params.pageModel,
    items: [
        {
            attributes: {
            "maxLength": "2"
        },
            label: "Day",
            name: "startDay",
            value: params.pageModel.startDay,
            id: "startDay" | appendIdPrefix(params.id),
            classes: "govuk-input--width-3" + (" govuk-input--error" if params.pageModel.errors.fields.startDay)
        },
        {
            attributes: {
            "maxLength": "2"
        },
            label: "Month",
            name: "startMonth",
            value: params.pageModel.startMonth,
            id: "startMonth" | appendIdPrefix(params.id),
            classes: "govuk-input--width-3" + (" govuk-input--error" if params.pageModel.errors.fields.startMonth)
        },
        {
            attributes: {
            "maxLength": "4"
        },
            label: "Year",
            name: "startYear",
            value: params.pageModel.startYear,
            id: params.id + "startYear" | appendIdPrefix(params.id),
            classes: "govuk-input--width-5" + (" govuk-input--error" if params.pageModel.errors.fields.startYear)
        }
    ]
}) }}


{{ govukDateInput({
    id: "endDate" | appendIdPrefix(params.id),
    name: "endDate" | appendIdPrefix(params.id),
    fieldset: {
        legend: params.legend.end
    },
    hint: {
        text: "For example, " + datePlaceHolder
    },
    errorMessage: ({
        text: params.pageModel.getErrorMsg('end') | jsonpath(i18n)
    } if params.pageModel.getErrorMsg('end')) if params.pageModel,
    items: [
        {
            attributes: {
            "maxLength": "2"
        },
            label: "Day",
            name: "endDay",
            value: params.pageModel.endDay,
            id: params.id + "endDay" | appendIdPrefix(params.id),
            classes: "govuk-input--width-3" + (" govuk-input--error" if params.pageModel.errors.fields.endDay)
        },
        {
            attributes: {
            "maxLength": "2"
        },
            label: "Month",
            name: "endMonth",
            value: params.pageModel.endMonth,
            id: params.id + "endMonth" | appendIdPrefix(params.id),
            classes: "govuk-input--width-3" + (" govuk-input--error" if params.pageModel.errors.fields.endDay)
        },
        {
            attributes: {
            "maxLength": "4"
        },
            label: "Year",
            name: "endYear",
            value: params.pageModel.endYear,
            id: params.id + "endYear" | appendIdPrefix(params.id),
            classes: "govuk-input--width-5" + (" govuk-input--error" if params.pageModel.errors.fields.endDay)
        }
    ]
}) }}
