{% from "date-input/macro.njk" import govukDateInput %}

{% set id = params.id + "-" if params.id else "" %}

{{ govukDateInput({
    id: id + "start-date",
    name: id + "start-date",
    fieldset: {
        legend: params.legend.start
    },
    hint: {
        text: "For example, " + datePlaceHolder
    },
    errorMessage: ({
        text: params.pageModel.getErrorMsg('start') | jsonpath(i18n)
    } if params.pageModel.getErrorMsg('start')) if params.pageModel,
    items: [
        {
            attributes: {
                "maxLength": "2"
            },
            label: "Day",
            name: "start-day",
            value: params.pageModel.startDay,
            id: id + "start-day",
            classes: "govuk-input--width-3" + (" govuk-input--error" if params.pageModel.errors.fields.startDay)
        },
        {
            attributes: {
                "maxLength": "2"
            },
            label: "Month",
            name: "start-month",
            value: params.pageModel.startMonth,
            id: id + "start-month",
            classes: "govuk-input--width-3" + (" govuk-input--error" if params.pageModel.errors.fields.startMonth)
        },
        {
            attributes: {
                "maxLength": "4"
            },
            label: "Year",
            name: "start-year",
            value: params.pageModel.startYear,
            id: id + "start-year",
            classes: "govuk-input--width-5" + (" govuk-input--error" if params.pageModel.errors.fields.startYear)
        }
    ]
}) }}


{{ govukDateInput({
    id: id + "end-date",
    name: id + "end-date",
    fieldset: {
        legend: params.legend.end
    },
    hint: {
        text: "For example, " + datePlaceHolder
    },
    errorMessage: ({
        text: params.pageModel.getErrorMsg('end') | jsonpath(i18n)
    } if params.pageModel.getErrorMsg('end')) if params.pageModel,
    items: [
        {
            attributes: {
                "maxLength": "2"
            },
            label: "Day",
            name: "end-day",
            value: params.pageModel.endDay,
            id: id + "end-day",
            classes: "govuk-input--width-3" + (" govuk-input--error" if params.pageModel.errors.fields.endDay)
        },
        {
            attributes: {
                "maxLength": "2"
            },
            label: "Month",
            name: "end-month",
            value: params.pageModel.endMonth,
            id: id + "end-month",
            classes: "govuk-input--width-3" + (" govuk-input--error" if params.pageModel.errors.fields.endDay)
        },
        {
            attributes: {
                "maxLength": "4"
            },
            label: "Year",
            name: "end-year",
            value: params.pageModel.endYear,
            id: id + "end-year",
            classes: "govuk-input--width-5" + (" govuk-input--error" if params.pageModel.errors.fields.endDay)
        }
    ]
}) }}
