{% from "character-count/macro.njk" import govukCharacterCount %}
{% from "input/macro.njk" import govukInput %}

<input type="hidden" name="_csrf" value="{{ _csrf }}">
{{ govukInput({
    label: {
        text: i18n.learningTags.text.hyperlinks.title
    },
    id: "title",
    name: "title",
    formGroup: {
        classes: "govuk-form-group--error" if errors.fields.title else null
    },
    classes: "govuk-input--error" if errors.fields.title else null,
    value: pageModel.title|default(pageModel.title)
}) }}
{{ govukInput({
    label: {
        text: i18n.learningTags.text.hyperlinks.url
    },
    id: "url",
    name: "url",
    hint: {
        text: "For example https://gov.uk. URLs must start with https://"
    },
    formGroup: {
        classes: "govuk-form-group--error" if errors.fields.url else null
    },
    classes: "govuk-input--error" if errors.fields.url else null,
    value: pageModel.url|default(pageModel.url)
}) }}
{{ govukCharacterCount({
    name: "description",
    id: "description",
    maxlength: 250,
    formGroup: {
        classes: "govuk-form-group--error" if errors.fields.description else null
    },
    classes: "govuk-textarea--error" if errors.fields.description else null,
    value: pageModel.description|default(pageModel.description),
    label: {
        text: i18n.learningTags.text.hyperlinks.description
    }
}) }}