{% from "input/macro.njk" import govukInput %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n.audience.pageTitle.configureAudience }} - {{ i18n.proposition_name }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + "/overview" %}

{% block content %}
{% set audienceTypeAsString = AudienceType[audience.type] %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-body form-header govuk-!-font-size-24 no-margin">{{i18n.audience.pageText.addNew}}</h1>
        <h2 class="govuk-heading-m govuk-!-font-size-36">{{ i18n.audience.pageTitle.configureAudience }}</h2>
        {% if audience.name != '' %}
            <p class="govuk-body">Your audience is called: <strong>{{ audience.name }}</strong></p>
        {% else %}
            <p class="govuk-body">Your audience has not been configured</strong></p>
        {% endif %}

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Organisation
              </dt>
              <dd class="govuk-summary-list__value">
                {% if audience.departments and audience.departments.length > 0 %}
                    {{ audienceDepartmentsAsNames | join(', ') }}
                {% else %}
                    No organisations have been added
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/organisation">{{ 'Edit' if (audience.departments and audience.departments.length > 0) else 'Add'}} <span class="govuk-visually-hidden"> organisations</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Area of work
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if audience.areasOfWork and audience.areasOfWork.length > 0 %}
                        {{ audience.areasOfWork | join(', ') | default("Area of work unset", true) }}
                    {% else %}
                        No areas of work have been added
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    {% if audience.areasOfWork and audience.areasOfWork.length > 0 %}
                        <form action="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/area-of-work/delete" method="post" class="audience-link">
                            <input type="hidden" name="_csrf" value="{{ _csrf }}">
                            <button class="govuk-link linkish-button delete-audience-configuration-link" aria-label="Delete area of work" role="link">Delete</button>
                        </form>
                    {% else %}
                        <a href="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/area-of-work" class="govuk-link audience-link">Add<span class="govuk-visually-hidden"> area of work</span></a>
                    {% endif %}
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Core learning
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if audience.interests.length > 0 %}
                        {{ audience.interests | join(", ") | default("Core learning unset", true) }}
                    {% else %}
                        No core learning has been added {{event.id}}
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    {% if audience.interests.length > 0 %}
                        <form action="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/core-learning/delete" method="post" class="audience-link"><input type="hidden" name="_csrf" value="{{ _csrf }}"><button class="govuk-link linkish-button" aria-label="Delete core learning" role="link">Delete</button></form>
                    {% else %}
                        <a href="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/add-core-learning" class="govuk-link audience-link">Add <span class="govuk-visually-hidden"> core learning</span></a>
                    {% endif %}
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Grades
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if audience.grades and audience.grades.length > 0 %}
                        {{ audience.grades | jsonpath(gradeCodeToName) | join(', ') }}
                    {% else %}
                        No grades have been added
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    {% if audience.grades and audience.grades.length > 0 %}
                        <form action="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/grades/delete" method="post" class="audience-link">
                            <input type="hidden" name="_csrf" value="{{ _csrf }}">
                            <button class="govuk-link linkish-button" aria-label="Delete grades" role="link">Delete</button>
                        </form>
                    {% else %}
                        <a href="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/grades" class="govuk-link audience-link">Add <span class="govuk-visually-hidden">grades</span></a>
                    {% endif %}
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Required learning
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if audience.requiredBy %}
                        <div>Deadline: {{ requiredBy.toDateString() if audience.requiredBy }}</div>
                    {% endif %}
                    {% if audience.frequency %}
                        <div>Occurs every: {{ audience.frequency.years() + " years " if audience.frequency.years() > 0 }} {{ audience.frequency.months() + " months" if audience.frequency.months() > 0 }}</div>
                    {% endif %}
                    {% if not audience.frequency and not audience.requiredBy %}
                        No required learning has been added
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    {% if audience.requiredBy or audience.frequency %}
                        <form action="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/required-learning/delete" method="post" class="audience-link">
                            <input type="hidden" name="_csrf" value="{{ _csrf }}">
                            <button class="govuk-link linkish-button" aria-label="Delete required learning" role="link">Delete</button>
                        </form>
                    {% else %}
                        <a href="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/required-learning" class="govuk-link audience-link">Add <span class="govuk-visually-hidden">required learning</span></a>
                    {% endif %}
                </dd>
            </div>
          </dl>

        <div class="button-container">
            {{ govukButton({
                href: "/content-management/courses/" + course.id + "/audiences/" + audience.id + "/delete",
                text: "Delete this audience",
                classes: "button-red"
            }) }}
        </div>
        <a class="govuk-body govuk-link return-link govuk-button" href="/content-management/courses/{{course.id}}/overview">Return to course</a>
    </div>
</div>
{% endblock %}
