{% from "phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'Your <a href="https://civilserviceinsight.qualtrics.com/jfe/form/SV_cHYL88D3Goop5CS" target="_blank" rel="noopener noreferrer">feedback</a> will help us to improve.'
}) }}
