{% from "phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'Your <a href=' + feedbackUrl + ' target="_blank" rel="noopener noreferrer" title="The Civil Service Learning feedback survey will open in another window">feedback</a> will help us to improve.'
}) }}
