{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "../component/course-details/macro.njk" import courseDetails with context %}

{% extends "../component/Page.njk" %}

{% block pageTitle %}
    {% if isEdit == false %}
        Add Course - Civil Service Learning
    {% else %}
        Edit Course - Civil Service Learning
    {% endif %}
{% endblock %}

{% block content %}
    {% if isEdit == true %}
        {{ govukBackLink({
        text: "Back",
        href: "/content-management/course/" + course.id
        }) }}
    {% else %}
        {{ govukBackLink({
            text: "Back",
            href: "/content-management"
        }) }}
    {% endif %}

    {% if errors.fields %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                {% for field, message in errors.fields %}
                    <li><a href="#">{{ i18n[message] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {%endif%}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if isEdit == false %}
                <p class="govuk-body form-header govuk-!-font-size-24">Add a new course</p>
            {% else %}
            <p class="govuk-body form-header govuk-!-font-size-24">Edit course</p>
            {% endif %}
            <h2 class="govuk-heading-m govuk-!-font-size-36">Course details</h2>

            {% if isEdit == true %}
                <form action="/content-management/edit-course/{{course.id}}" method="post">
            {% else %}
                <form action="/content-management/add-course" method="post">
            {% endif %}
                <fieldset class="govuk-fieldset">
                    {% if errors.fields %}
                        {{ govukInput({
                        label: {
                            text: "Course title"
                            },
                            id: "title",
                            name: "title",
                            errorMessage: {
                                text: "Title is required"
                            }
                        }) }}
                    {% elif isEdit == true %}
                        {{ govukInput({
                        label: {
                            text: "Course title"
                            },
                            id: "title",
                            name: "title",
                            value: course.title
                        }) }}
                    {% else %}
                        {{ govukInput({
                        label: {
                            text: "Course title"
                            },
                            id: "title",
                            name: "title"
                        }) }}
                    {% endif %}
                </fieldset>
                {{ govukButton({
                    text: "Continue"
                }) }}

                {% if isEdit == true %}
                <a class="cancel-button govuk-body govuk-link" href="/content-management/course/{{course.id}}">Cancel</a>
                {% else %}
                <a class="cancel-button govuk-body govuk-link" href="/content-management">Cancel</a>
                {% endif%}
            </form>
        </div>

        <div class="govuk-grid-column-one-third">
       
        </div>
    </div>
{% endblock %}